/*
滚动条组成

::-webkit-scrollbar 滚动条整体部分
::-webkit-scrollbar-thumb  滚动条里面的小方块，能向上向下移动（或往左往右移动，取决于是垂直滚动条还是水平滚动条）
::-webkit-scrollbar-track  滚动条的轨道（里面装有Thumb）
::-webkit-scrollbar-button 滚动条的轨道的两端按钮，允许通过点击微调小方块的位置。
::-webkit-scrollbar-track-piece 内层轨道，滚动条中间部分（除去）
::-webkit-scrollbar-corner 边角，即两个滚动条的交汇处
::-webkit-resizer 两个滚动条的交汇处上用于通过拖动调整元素大小的小控件
*/

/*当鼠标焦点在浏览器窗口之外时, 隐藏窗口级别的滚动条
算了, 想法是好的, 但是鼠标移动到窗口边缘, 不容易选中, 总是闪烁, 拖动起来很麻烦
html{overflow: hidden;}
html:hover {overflow: scroll;}
*/

/*::-webkit-scrollbar 滚动条纵横整体, 外框架*/
::-webkit-scrollbar {  
  width: 10px; height: 10px;
  border-radius: 5px;
}
/*
浏览器不在激活状态时, 不显示滚动条. 
已停用, 因为display在none与block切换时会影响网页的实际宽度,
改为使用track与thumb的透明度切换
*/
::-webkit-scrollbar:window-inactive{
  /*display: none;*/
}
::-webkit-scrollbar-track,  
::-webkit-scrollbar-thumb {  
  border-radius: 5px;  
}
/*
颜色,透明度都一样, 怎么看起来不一样呢?
...逗b了, thumb与track的颜色深度实现了叠加
*/
::-webkit-scrollbar-track,
::-webkit-scrollbar-thumb {
	background-color: rgba(0,0,0,.2);
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(66,139,202,.3);
}
/*
浏览器不在激活状态时, 不显示滚动条.
*/
::-webkit-scrollbar-track:window-inactive,
::-webkit-scrollbar-thumb:window-inactive {
	background-color: rgba(0,0,0,0);
}
/*滑块点击选中状态*/
::-webkit-scrollbar-thumb:active{
  background-color: rgba(66,139,202,.6);
}
::-webkit-scrollbar-corner{
  /*display:none;*/
  background-color:rgba(0,0,0,0);
}

.rule-table-navbar{
    padding: 10px;
}
.navbar .btn-group.navbar-right{
    margin-right: 0;
}
.rule-table-wrapper{
    position: relative;
    top: 80px;
}

#importModal .modal-dialog,
#exportModal .modal-dialog{
    width: 360px;
}
#exportModal .modal-body{
    height: 540px;
    overflow-y: scroll;
}